@import "../../styles/variables";

.background {
    height: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    
    .before-wave {
        height: 100%;
        background-color: $main-color;
    }

    .wave {
        .first-wave {
            margin-top: -1px;
            position: absolute
        }

        .second-wave {
            margin-top: 20px;
        }
    }
}